
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>to do list</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="nav ">
    <a  href="/">To Do List</a>

  </div>
  <div class="nav ">
  <a href="/work">WorK List</a>
  </div>
